<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- For Facebook -->
    <meta property="og:title" content="Corona in Bangladesh"/>
    <meta property="og:type" content="article"/>
    <meta property="og:image" content="https://coronainbangladesh.com/images/fb_og_image.png"/>
    <meta property="og:url" content="https://coronainbangladesh.com/"/>
    <meta property="og:description"
          content="A voluntary initiative with a mission to build and serve a comprehensive and trustworthy online information hub in the time of coronavirus epidemic in Bangladesh."/>

    <!-- For Google -->
    <meta name="description"
          content="A voluntary initiative with a mission to build and serve a comprehensive and trustworthy online information hub in the time of coronavirus epidemic in Bangladesh."/>
    <meta name="keywords"
          content="coronavirus, corona, covid19, covid-19, bangladesh, epidemic, dhaka, iedcr, quarantine"/>

    <title>Corona in Bangladesh - A comprehensive information hub about the Coronavirus in Bangladesh</title>

    <link rel="shortcut icon" href="../images/favicon.svg" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../css/style.css">

    <script src="https://kit.fontawesome.com/ad532652d6.js" crossorigin="anonymous"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110318517-12"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-110318517-12');
    </script>
  </head>
  <body class="corona-bg-dark">
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark-corona">
        <a class="navbar-brand" href="/en"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-right" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/en">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/en/corona">What is Coronavirus?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/en/prevention">Preventions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/en/mythbuster">Mythbuster</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/en/updates">Updates</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/en/emergency">Emergencies</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/en/contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link switch" href="/about">বাংলা তে দেখুন</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <section class="content">
      <div class="container">
        <div class="corona-box">
          <div class="corona-title">
            <h2>About</h2>
          </div>
          <div class="corona-content">
            <p>The novel coronavirus (2019-nCoV) outbreak has rapidly turned into a pandemic. Ever since breaking out in Wuhan, the capital city of Hubei province, China, it has spread to many countries of the world. Many first world countries are still having a tough time dealing with this global crisis. We’ve witnessed how the virus is crippling China, Italy and Iran.<br><br>Bangladesh, as a third world country, is not nearly equipped to deal with a pandemic of such proportions. Whether we’re talking about our healthcare infrastructure, or about our ability to convey crucial bits of information about dealing with this crisis to the right target groups - we aren’t nearly as equipped as the USA, Singapore, South Korea or other technologically advanced nations. Yet, as we face this crisis as a nation, we must put up our highest efforts in the fight against the coronavirus outbreak.<br><br>With that in mind, a few of us came to realize that authentic, reliable information is by far the biggest weapon in our fight against this pandemic. And in that fight, an internet full of uninformed and misinformed people spreading inauthentic, make-believe information, acts as the biggest ally to the coronavirus. Countries like Singapore, South Korea have crowdfunded or government endorsed web platforms that let anyone instantly access to the most up to date information about their national status-quo regarding the coronavirus outbreak. So, we got to thinking on whether we can give this same access to information for the people of our country. From planning the website, collecting resources, translating content to actually coding the entire thing and then deploying it - we crunched through 5 days. We wanted to get this up and running as soon as possible, before the situation turned worse.<br><br>Now comes the important part, what does this website offer that many other websites, which track the corona outbreak, do not. We wanted to build something that’s exclusively for the people of Bangladesh. Something that presents the entire status-quo of Bangladesh in this crisis, in Bangla, to the people of Bangladesh.</p>

            <ul>
              <li>We have live dashboards that give you the numbers - quarantines, infections, recoveries, deaths.</li>
              <li>We provide one-click access to detailed instructions on how to keep yourself and your loved ones safe in this crisis, in Bangla.</li>
              <li>We have compiled all the points of contact, hotlines and contact information that you might need in order to get medical attention for a coronavirus infection.</li>
              <li>We maintain a live stack of news, where we present the most relevant and crucial news, in Bangla.</li>
              <li>We minimize the number of pages you need to load in order to get the most authentic picture of this outbreak right in your mobile screen or your laptop.</li>
              <li>We’ve prepared a quiz that introduces you to frequently asked questions about coronavirus and myths and false information circulated surrounding it.</li>
            </ul>

            <p>We’re bracing for the worst and assuming that we will have to fight much harder when the outbreak affects thousands of people directly and the whole population of our country indirectly. Down the line, we have an intention of expanding to build an online epidemic management platform. We also want to incorporate a mental health support segment that will aim to help people through these tough times in social isolation. The work for both these integrations is underway.<br><br>Finally we want to thank those of you, who are playing their parts in this fight. And for those of us who are not yet taking this seriously, we urge you to explore the wealth of information that is available to you, we urge you to educate yourself about the global situation, we urge you to take a step forward and contribute to keep our nation afloat in this crisis.<br><br>If you have any feedback, suggestions, criticisms about our website, feel free to send us an email at: contact@coronainbangladesh.com
</p>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <p class="m0"><strong>Corona in Bangladesh</strong> is a voluntary initiative with a mission to build and serve a comprehensive and trustworthy online information hub in the time of coronavirus epidemic in Bangladesh.</p>
      <p class="m0"><a href="#">About</a> | <a href="/en/privacy-policy">Privacy Policy</a> | <a href="/en/contact">Contact</a></p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </body>
</html>
