<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- For Facebook -->
    <meta property="og:title" content="Corona in Bangladesh"/>
    <meta property="og:type" content="article"/>
    <meta property="og:image" content="https://coronainbangladesh.com/images/fb_og_image.png"/>
    <meta property="og:url" content="https://coronainbangladesh.com/"/>
    <meta property="og:description"
          content="একটি স্বেচ্ছাসেবী উদ্যোগ, যার উদ্দেশ্য হচ্ছে করোনা ভাইরাস মহামারির সময়ে বাংলাদেশে একটি সমন্বিত এবং নির্ভরযোগ্য অনলাইন তথ্যভাণ্ডার তৈরী করা।"/>

    <!-- For Google -->
    <meta name="description"
          content="একটি স্বেচ্ছাসেবী উদ্যোগ, যার উদ্দেশ্য হচ্ছে করোনা ভাইরাস মহামারির সময়ে বাংলাদেশে একটি সমন্বিত এবং নির্ভরযোগ্য অনলাইন তথ্যভাণ্ডার তৈরী করা"/>
    <meta name="keywords"
          content="coronavirus, corona, covid19, covid-19, bangladesh, epidemic, dhaka, iedcr, quarantine"/>

    <title>Corona in Bangladesh - বাংলাদেশে করোনা ভাইরাস সম্পর্কিত যাবতীয় সকল তথ্যের একটি অনলাইন তথ্যভান্ডার</title>

    <link rel="shortcut icon" href="images/favicon.svg" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/all.css">

    <script src="https://kit.fontawesome.com/ad532652d6.js" crossorigin="anonymous"></script>
  </head>
  <body class="corona-bg-dark">
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark-corona">
        <a class="navbar-brand" href="/"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-right" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">হোম <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/corona">করোনাভাইরাস কি?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/prevention">প্রতিরোধে করণীয়</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">সত্য নাকি মিথ্যা?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/emergency">জরুরি যোগাযোগ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">যোগাযোগ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link switch" href="/en/about">Switch to English</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <section class="content">
      <div class="container">
        <div class="corona-box">
          <div class="corona-title">
            <h2>আমাদের সম্পর্কে</h2>
          </div>
          <div class="corona-content">
            <p>গত কয়েক মাসে নভেল করোনা ভাইরাস (2019-nCoV) মহামারিটি বিশ্বব্যাপী ছড়িয়ে পড়েছে। মধ্য চীনের হুবেই প্রদেশের উহান শহরে ছড়ানোর পর থেকে এখন পর্যন্ত বিশ্বের অনেক দেশেই ছড়িয়ে পড়েছে এই ভাইরাসটি। প্রথম বিশ্বের অনেক দেশ এখনও এই বিশ্বব্যাপী মহামারির মোকাবিলা করতে হিমসিম খাচ্ছে। আমরা সকলেই দেখেছি কিভাবে ভাইরাসটি চীন, ইতালি এবং ইরান সহ অনেক দেশকে বিধ্বস্ত করে দিচ্ছে।<br><br>বাংলাদেশ রোগতত্ত্ব, রোগ নিয়ন্ত্রণ ও গবেষণা ইনস্টিটিউট (IEDCR) এদেশে প্রথম করোনা ভাইরাস এর রোগী সনাক্ত করে ৭ মার্চ, ২০২০ তারিখে। তৃতীয় বিশ্বের একটি দেশ হিসাবে বাংলাদেশ এই ধরণের একটি মহামারির মোকাবিলা করার জন্য অনেকটাই অপ্রস্তুত। স্বাস্থ্য খাতের কথাই বলি আর খুবই গুরুত্বপূর্ণ তথ্য সঠিক মহলে পৌঁছে দেয়ার ক্ষমতার কথাই বলি - যুক্তরাষ্ট্র, সিঙ্গাপুর, দক্ষিণ কোরিয়া বা অন্যান্য প্রযুক্তিগতভাবে এগিয়ে থাকা দেশের তুলনায় আমাদের এই মহামারিকে নিয়ন্ত্রণে আনার ক্ষমতা নিতান্তই নগন্য। তবুও, জাতি হিসাবে এই দুর্যোগের মোকাবিলা করতে আমাদের সর্বোচ্চ প্রচেষ্টা চালাতে হবে।<br><br>এই কথা মাথায় রেখে, আমারা কয়েকজন বন্ধু উপলব্ধি করি যে করোনা ভাইরাসের বিরুদ্ধে যুদ্ধে নির্ভরযোগ্য তথ্য আমাদের সবচেয়ে বড় মিত্র হিসাবে কাজ করবে। আর এই যুদ্ধে, মিথ্যা, বানোয়াট, ভিত্তিহীন তথ্যের প্রচার ও প্রসার করোনা ভাইরাসকে আরও ছড়িয়ে দেয়ার অন্যতম বড় সহায়ক হয়ে দাঁড়াবে। সিঙ্গাপুর, দক্ষিণ কোরিয়ার মতন রাষ্ট্রগুলো গণতহবিলের মাধ্যমে বা সরকারি পৃষ্ঠপোষকতায় ওয়েব প্ল্যাটফর্ম চালাচ্ছে যেখানে যেকেউ মুহূর্তের মাঝেই করোনা ভাইরাস পরিস্থিতি সম্পর্কে সর্বশেষ খবর ও গুরুত্বপূর্ণ সকল তথ্য পেতে পারে। তো, আমরা চিন্তা করা শুরু করলাম যে এই সুবিধাটাই আমরা আমাদের দেশের মানুষদের দিতে পারি কিনা। ওয়েবসাইট পরিকল্পনা করা, তথ্য-উপাত্ত সংগ্রহ করা ও অনুবাদ করা থেকে শুরু করে পুরো ওয়েবসাইটটা তৈরী করা পর্যন্ত সব কাজ আমরা ৫ দিনের ভিতর শেষ করেছি। আমরা চাচ্ছিলাম যত তাড়াতাড়ি সম্ভব, দেশের সামগ্রিক অবস্থা আরও খারাপ হবার আগেই, দেশের মানুষকে এই সুবিধাটুকু দিতে।<br><br>আমাদের ওয়েব প্ল্যাটফর্ম এর উদ্দেশ্য কি?<br>আমরা চেয়েছি এমন কিছু তৈরী করতে যা করোনা ভাইরাস সংক্রান্ত বিষয়ে বাংলাদেশের জাতীয় পরিস্থিতির একটি পরিপূর্ণ চিত্র ইংরেজির পাশাপাশি বাংলা তে তুলে ধরতে পারে। করোনা ভাইরাসের ব্যাপারে জনসচেতনা বৃদ্ধি করতে, সংক্রমণ প্রতিরোধ করতে এবং সংক্রমিত হলে চিকিৎসা পেতে কি জানতে এবং করতে হবে তার ব্যাপারে সর্বসাধারণকে অবগত করতেই আমরা এই সমন্বিত এবং সহজবোধ্য অনলাইন তথ্যভাণ্ডারটি তৈরী করেছি।</p>
            <br><br>
            <p>আমাদের প্ল্যাটফর্মটিতে যা পাওয়া যাবে -</p>
            <ul>
              <li>আমরা লাইভ ড্যাশবোর্ড এর মাধ্যমে করোনা ভাইরাস সংক্রমণের বর্তমান পরিসংখ্যান দেখাচ্ছি - কোয়ারেন্টাইনকৃত, সংক্রমিত, আরোগ্যপ্রাপ্ত এবং মৃত মানুষের সংখ্যা।</li>
              <li>আমরা ব্যবস্থা রাখছি যাতে আপনি একটি মাত্র ক্লিক এর মাধ্যমে নিজেকে এবং নিজের পরিবারকে নিরাপদ রাখার পরামর্শ এবং নির্দেশিকা পেয়ে যান।</li>
              <li>বাংলাদেশে করোনা ভাইরাস সংক্রান্ত তথ্য জানতে এবং চিকিৎসা পেতে জরুরী যোগাযোগের সকল সূত্র, ফোন নাম্বার এবং সংস্থার তথ্য একত্রিত করে আমরা উপস্থাপন করছি আপনার সামনে।</li>
              <li>আমরা করোনা সংক্রমণ সংক্রান্ত সর্বশেষ এবং সবচেয়ে গুরুত্বপূর্ণ খবরগুলো উপস্থাপন করছি। এই অংশটি কয়েক মিনিট পর পর নিয়মিত হালনাগাদ করতে থাকবো।</li>
              <li>আপনার মোবাইল ফোন কিংবা ল্যাপটপের স্ক্রিনে করোনা ভাইরাস পরিস্থিতি সংক্রান্ত সবচেয়ে নির্ভরযোগ্য তথ্য ও খবর পেতে যাতে আপনার একটি-দুটির বেশি পেইজ লোড করতে না হয়, সে বিষয়টি নিশ্চিত করছি আমরা।</li>
              <li>করোনা ভাইরাস সম্পর্কে কিছু ভুল ধারণা, তার বিপরিতে সঠিক তথ্য এবং অহরহ করা প্রশ্ন ও তার উত্তর নিয়ে আমরা একটি কুইজ প্রস্তুত করেছি যা আপনাকে করোনা সম্পর্কে সচেতন থাকতে সাহায্য করবে।</li>
            </ul>

            <p>ইতমধ্যেই আমরা এই প্ল্যাটফর্মটিকে আরও সময়োপযোগী করতে এবং জাতীয় পর্যায়ে মহামারী নিয়ন্ত্রণ ও ব্যবস্থাপনার একটি অনলাইন প্ল্যাটফর্মে পরিণত করতে কাজ করে যাচ্ছি। এছাড়াও আমরা প্ল্যাটফর্মটিতে একটি মানসিক স্বাস্থ্য সহায়তার অংশ যুক্ত করার প্রক্রিয়া চালিয়ে যাচ্ছি, যা বাংলাদেশের মানুষদের এই দুর্যোগময় সামাজিক বিচ্ছিন্নতার সময়ে সুস্থ থাকতে সাহায্য করবে বলে আমরা আশাবাদী। আমাদের এই প্রচেষ্টাকে মানুষের মাঝে ছড়িয়ে দিতে শীঘ্রই আমরা সামাজিক যোগাযোগ মাধ্যম সহ অন্যান্য সকল অনলাইন মাধ্যমে কাজ শুরু করবো।<br><br>পরিশেষে, আপনারা যারা দায়িত্ববান নাগরিক হিসাবে এই জাতীয় দুর্যোগে নিজ নিজ অবস্থান থেকে সাহায্য করার চেষ্টা চালিয়ে যাচ্ছেন, আমরা তাদেরকে আমাদের আন্তরিক ধন্যবাদ জানাতে চাই। আর যারা এখনও এই বিষয়টিকে গুরুত্বের সাথে দেখছেন না, তাদের প্রতি আমাদের অনুরোধ থাকছে - আপনার হাতের নাগালে থাকা ইন্টারনেটকে ব্যবহার করুন, বৈশ্বিক পরিস্থিতি সম্পর্কে জানুন এবং এই দুর্যোগে আমাদের দেশকে স্থিতিশীল রাখতে এগিয়ে আসুন।<br><br>আমাদের প্ল্যাটফর্ম সংক্রান্ত যেকোন মতামত, পরামর্শ, সমালোচনা পাঠাতে পারেন এই ই-মেইল এ্যাড্রেসেঃ <a href="mailto:contact@coronainbangladesh.com">contact@coronainbangladesh.com</a></p>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <p class="m0"><strong>করোনা ইন বাংলাদেশ</strong> একটি স্বেচ্ছাসেবী উদ্যোগ, যার উদ্দেশ্য হচ্ছে করোনা ভাইরাস মহামারির সময়ে বাংলাদেশে একটি সমন্বিত এবং নির্ভরযোগ্য অনলাইন তথ্যভাণ্ডার তৈরী করা।</p>
      <p class="m0"><a href="#">আমাদের সম্পর্কে</a> | <a href="/privacy-policy">তথ্যের গোপনীয়তা</a> | <a href="/contact">যোগাযোগ</a></p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </body>
</html>
