<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Corona in Bangladesh - A comprehensive information hub about the Coronavirus in Bangladesh</title>

    <link rel="shortcut icon" href="images/favicon.svg" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/all.css">

    <script src="https://kit.fontawesome.com/ad532652d6.js" crossorigin="anonymous"></script>
  </head>
  <body class="corona-bg-dark">
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark-corona">
        <a class="navbar-brand" href="index.html"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-right" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="content-intro">
      <img src="images/intro-banner-img.png" alt="" style="width:400px;margin-bottom:60px">

      <h1>CORONAVIRUS</h1>
      <h5>Coronavirus disease is an infectious disease caused by a new virus called the COVID-19. The disease causes respiratory illness (like the flu) with symptoms such as a cough, fever, and in more severe cases, difficulty of breathing. As of now, there is no proper cure/vaccine for this disease. The first case in Bangladesh was confirmed on 7 March 2020 by the IEDCR. Considering the health system, Bangladesh is currently at a very high risk of probable nationwide spread of the virus.</h5>
    </div>

    <div class="content-extended text-center">
        <h1>At a Glance</h1>

        <div class="row modules">
          <div class="col-md-4">
            <div class="illustration" style="background:url(images/origin.svg)"></div>
            <h2>Originated in Wuhan, China</h2>
            <p>The first person known to have fallen ill due to the new virus was traced back to 1 December 2019 in Wuhan city, Hubei province, central China. A public notice on the outbreak was released by Wuhan Municipal Health Commission on 31 December.</p>
          </div>
          <div class="col-md-4">
            <div class="illustration" style="background:url(images/mortality.svg)"></div>
            <h2>Mortality Rate is 3.4%</h2>
            <p>Globally, about 3.4% of reported COVID-19 cases have died. By comparison, seasonal flu generally kills far fewer than 1% of those infected. [As of 3 March 2020]</p>
          </div>
          <div class="col-md-4">
            <div class="illustration" style="background:url(images/global-emergency.svg)"></div>
            <h2>A Global Emergency</h2>
            <p>Coronavirus has been declared a global emergency by the World Health Organization (WHO) on 31 January 2020. The concern was that it could spread to countries with weaker health systems (like Bangladesh).</p>
          </div>
        </div>
    </div>

    <div class="content-dark text-center">
      <h1>Symptoms</h1>

      <div class="row modules">
        <div class="col-md-4">
          <div class="illustration-lg" style="background:url(images/fever.svg)"></div>
          <h2>Fever</h2>
        </div>
        <div class="col-md-4">
          <div class="illustration-lg" style="background:url(images/cough.svg)"></div>
          <h2>Cough</h2>
        </div>
        <div class="col-md-4">
          <div class="illustration-lg" style="background:url(images/shortness-of-breath.svg)"></div>
          <h2>Shortness of Breath</h2>
        </div>
      </div>

      <br><br>

      <h5>The symptoms may appear 2-14 days after exposure. Seek medical advice if you develop any of the symptoms.</h5>
    </div>

    <div class="content-extended">
      <h1 class="text-center">Prevention Tips</h1>

      <br><br><br>

      <div class="row">
        <div class="col-md-6">
          <div class="prevention-tip">
            <div class="row h-100">
              <div class="col-3" style="margin:auto">
                <img src="images/prevention-1.svg" alt="">
              </div>
              <div class="col-9" style="margin:auto">
                <h5>Avoid close contact with people (handshakes, hugs, kisses).</h5>
              </div>
            </div>
          </div>
          <div class="prevention-tip">
            <div class="row h-100">
              <div class="col-3" style="margin:auto">
                <img src="images/prevention-2.svg" alt="">
              </div>
              <div class="col-9" style="margin:auto">
                <h5>Avoid touching your face (eyes, nose, mouth)</h5>
              </div>
            </div>
          </div>
          <div class="prevention-tip">
            <div class="row h-100">
              <div class="col-3" style="margin:auto">
                <img src="images/prevention-3.svg" alt="">
              </div>
              <div class="col-9" style="margin:auto">
                <h5>Cover your cough or sneeze with a tissue, then throw the tissue in the trash. If you don’t have a tissue at hand, use your armpit or elbow region to cover up.</h5>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="prevention-tip">
            <div class="row h-100">
              <div class="col-3" style="margin:auto">
                <img src="images/prevention-4.svg" alt="">
              </div>
              <div class="col-9" style="margin:auto">
                <h5>Wash your hands often with soap and water for at least 20 seconds. Use hand sanitizer often.</h5>
              </div>
            </div>
          </div>
          <div class="prevention-tip">
            <div class="row h-100">
              <div class="col-3" style="margin:auto">
                <img src="images/prevention-5.svg" alt="">
              </div>
              <div class="col-9" style="margin:auto">
                <h5>Stay home if you are sick, unless you have to get medical treatment.</h5>
              </div>
            </div>
          </div>
          <div class="prevention-tip">
            <div class="row h-100">
              <div class="col-3" style="margin:auto">
                <img src="images/prevention-6.svg" alt="">
              </div>
              <div class="col-9" style="margin:auto">
                <h5>Clean and disinfect any objects (mobile phones, laptops, glasses) that you daily use.</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="content-alert">
      <div class="row h-100">
        <div class="col-md-3 text-center">
          <img src="images/vaccine.svg" alt="" style="width:75%;height:auto">
        </div>
        <div class="col-md-9">
          <h4>There is no proper cure/vaccine for this disease yet. A few methods are being tested. Infected people are being treated to relieve the symptoms only.</h4>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </body>
</html>
