<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- For Facebook -->
    <meta property="og:title" content="Corona in Bangladesh"/>
    <meta property="og:type" content="article"/>
    <meta property="og:image" content="https://coronainbangladesh.com/images/fb_og_image.png"/>
    <meta property="og:url" content="https://coronainbangladesh.com/"/>
    <meta property="og:description"
          content="একটি স্বেচ্ছাসেবী উদ্যোগ, যার উদ্দেশ্য হচ্ছে করোনা ভাইরাস মহামারির সময়ে বাংলাদেশে একটি সমন্বিত এবং নির্ভরযোগ্য অনলাইন তথ্যভাণ্ডার তৈরী করা।"/>

    <!-- For Google -->
    <meta name="description"
          content="একটি স্বেচ্ছাসেবী উদ্যোগ, যার উদ্দেশ্য হচ্ছে করোনা ভাইরাস মহামারির সময়ে বাংলাদেশে একটি সমন্বিত এবং নির্ভরযোগ্য অনলাইন তথ্যভাণ্ডার তৈরী করা"/>
    <meta name="keywords"
          content="coronavirus, corona, covid19, covid-19, bangladesh, epidemic, dhaka, iedcr, quarantine"/>

    <title>Corona in Bangladesh - বাংলাদেশে করোনা ভাইরাস সম্পর্কিত যাবতীয় সকল তথ্যের একটি অনলাইন তথ্যভান্ডার</title>

    <link rel="shortcut icon" href="images/favicon.svg" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/all.css">

    <script src="https://kit.fontawesome.com/ad532652d6.js" crossorigin="anonymous"></script>
  </head>
  <body class="corona-bg-dark">
    <header>
      <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark-corona">
        <a class="navbar-brand" href="/"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-right" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">হোম <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">করোনাভাইরাস কি?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">প্রতিরোধে করণীয়</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">সত্য নাকি মিথ্যা?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">জরুরি যোগাযোগ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">যোগাযোগ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link switch" href="/en/corona">Switch to English</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="content-intro" style="margin-top:50px !important">
      <img src="images/intro-banner-img.png" alt="" style="width:400px;margin-bottom:60px">

      <h1>করোনাভাইরাস</h1>
      <h5>করোনা ভাইরাস ব্যাধি হচ্ছে একটি সংক্রামক ব্যাধি, যার সংক্রমণ একটি নতুন ভাইরাস এর মাধ্যমে হয়। এই ভাইরাসটিকে আমরা করোনা ভাইরাস বা COVID-19 হিসাবে চিনি। এই রোগটি শ্বাসযন্ত্রের নান সমস্যা এবং অসুখ তৈরী করে, যেমন ইনফ্লুয়েঞ্জা বা ফ্লু। এর উপসর্গ হিসাবে কাশি, জ্বর এবং আরো গুরুতর ক্ষেত্রে শ্বাসক্রিয়ায় সমস্যা তৈরী করে।  এখন পর্যন্ত এই ব্যাধির কোনো নিরাময় কিংবা টিকা আবিষ্কৃত হয় নি। বাংলাদেশ রোগতত্ত্ব, রোগ নিয়ন্ত্রণ ও গবেষণা ইনস্টিটিউট (IEDCR) এদেশে প্রথম করোনা ভাইরাস এর রোগী সনাক্ত করে ৭ মার্চ, ২০২০ তারিখে। বাংলাদেশের স্বাস্থ্য খাতের কথা বিবেচনা করলে, আমরা এই মুহূর্তে জাতীয় পর্যায়ে এই ভাইরাস সংক্রমণের ঝুঁকিতে রয়েছি।</h5>
    </div>

    <div class="content-extended text-center">
        <h1>একনজরে করোনাভাইরাস</h1>

        <div class="row modules">
          <div class="col-md-4">
            <div class="illustration" style="background:url(images/origin.svg)"></div>
            <h2>প্রথম শনাক্ত করা হয়ঃ উহান, চীন</h2>
            <p>অনুসন্ধান করে বের করা হয়ে যে ১ ডিসেম্বর, ২০১৯ তারিখে মধ্য চীনের হুবেই প্রদেশের উহান শহরে করোনা ভাইরাসের প্রথম সংক্রমণ ঘটে। সংক্রমণের মাত্রা নিয়ন্ত্রণের বাইরে চলে গেলে, উহান পৌর স্বাস্থ্য কমিশন ৩১ ডিসেম্বর একটি জনবিজ্ঞপ্তি প্রচার করে।</p>
          </div>
          <div class="col-md-4">
            <div class="illustration" style="background:url(images/mortality.svg)"></div>
            <h2>মৃত্যুর হারঃ ৩.৪%</h2>
            <p>বিশ্ব স্বাস্থ্য সংস্থার সর্বশেষ বিজ্ঞপ্তি অনুযায়ী, গত ৩ মার্চ, ২০২০ তারিখ পর্যন্ত বিশ্বব্যাপী COVID-19 এর সনাক্ত করা রোগী দের প্রায় ৩.৪% মারা গিয়েছে। তুলনা করতে গেলে বলা যায় মৌসুমি ইনফ্লয়েঞ্জা বা ফ্লু তে সংক্রমিত মানুষদের মধ্যে ১% এর কম মারা যায়।</p>
          </div>
          <div class="col-md-4">
            <div class="illustration" style="background:url(images/global-emergency.svg)"></div>
            <h2>বৈশ্বিক জরুরি অবস্থা</h2>
            <p>বিশ্ব স্বাস্থ্য সংস্থা (WHO) করোনা ভাইরাস মহামারিকে ৩১ জানুয়ারী, ২০২০ তারিখে একটি বৈশ্বিক জরুরি অবস্থা ঘোষণা করে। আশঙ্কা ছিল যে ভাইরাসটি দুর্বল এবং ক্ষুদ্রতর স্বাস্থ্য খাত সম্পন্ন দেশগুলোতে (যেমন বাংলাদেশ) ছড়িয়ে পড়বে।</p>
          </div>
        </div>

        <div class="row modules" style="margin-top:40px">
          <div class="col-md-4">
            <h1 class="big-number"><%= stats.confirmed %></h1>
            <h2>সর্বমোট সনাক্তকৃত (বিশ্বব্যাপী)</h2>
          </div>
          <div class="col-md-4">
            <h1 class="big-number"><%= stats.recovered %></h1>
            <h2>সর্বমোট আরোগ্যপ্রাপ্ত (বিশ্বব্যাপী)</h2>
          </div>
          <div class="col-md-4">
            <h1 class="big-number"><%= stats.deaths %></h1>
            <h2>সর্বমোট মৃত (বিশ্বব্যাপী)</h2>
          </div>
        </div>
    </div>

    <div class="content-dark text-center">
      <h1>রোগের উপসর্গ</h1>

      <div class="row modules">
        <div class="col-md-4">
          <div class="illustration-lg" style="background:url(images/fever.svg)"></div>
          <h2>জ্বর<br><small>(১০০ ডিগ্রী ফারেনহাইট বা তার চেয়ে বেশি)</small></h2>
        </div>
        <div class="col-md-4">
          <div class="illustration-lg" style="background:url(images/cough.svg)"></div>
          <h2>কাশি</h2>
        </div>
        <div class="col-md-4">
          <div class="illustration-lg" style="background:url(images/shortness-of-breath.svg)"></div>
          <h2>নিঃশ্বাসের দুর্বলতা</h2>
        </div>
      </div>

      <br><br>

      <h5>সংক্রমিত হওয়ার ২ - ১৪ দিন পর উপসর্গ দেখা দিতে পারে। উপসর্গ দেখা দেয়ার সাথে সাথে ডাক্তারি পরামর্শ নেয়া উচিত।</h5>
    </div>

    <div class="content-extended">
      <h1 class="text-center">সংক্রমণ প্রতিরোধে করণীয়</h1>

      <br><br><br>

      <div class="row">
        <div class="col-md-6">
          <div class="prevention-tip">
            <div class="row h-100">
              <div class="col-3" style="margin:auto">
                <img src="images/prevention-1.svg" alt="">
              </div>
              <div class="col-9" style="margin:auto">
                <h5>মানুষের সাথে ঘনিষ্ঠতা পরিহার করুন (করমর্দন বা হ্যান্ডশেইক, আলিঙ্গন বা কোলাকুলি করা, চুম্বন ইত্যাদি)।</h5>
              </div>
            </div>
          </div>
          <div class="prevention-tip">
            <div class="row h-100">
              <div class="col-3" style="margin:auto">
                <img src="images/prevention-2.svg" alt="">
              </div>
              <div class="col-9" style="margin:auto">
                <h5>মুখের যেকোন অংশে (চোখ, নাক, ঠোঁট ইত্যাদি) হাত দেয়া থেকে বিরত থাকুন।</h5>
              </div>
            </div>
          </div>
          <div class="prevention-tip">
            <div class="row h-100">
              <div class="col-3" style="margin:auto">
                <img src="images/prevention-3.svg" alt="">
              </div>
              <div class="col-9" style="margin:auto">
                <h5>হাঁচি বা কাশি দেয়ার সময় টিস্যু দিয়ে মুখ ঢেকে নিন, তারপর টিস্যুটি ফেলে দিন। হাতের নাগালে টিস্যু না থাকলে বগল বা কনুই ব্যবহার করে মুখ ঢেকে নিন।</h5>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="prevention-tip">
            <div class="row h-100">
              <div class="col-3" style="margin:auto">
                <img src="images/prevention-4.svg" alt="">
              </div>
              <div class="col-9" style="margin:auto">
                <h5>অহরহ হাত ধোয়ার অভ্যাস করুন। সাবান এবং পানি দিয়ে অন্তত ২০ সেকেন্ড সময় নিয়ে হাত ধোয়া উচিত। সাবান এবং পানি হাতের কাছে না থাকলে হ্যান্ড স্যানিটাইজার ব্যবহার করুন।</h5>
              </div>
            </div>
          </div>
          <div class="prevention-tip">
            <div class="row h-100">
              <div class="col-3" style="margin:auto">
                <img src="images/prevention-5.svg" alt="">
              </div>
              <div class="col-9" style="margin:auto">
                <h5>অসুস্থ হলে বাসায় থাকুন, যদি না আপনার চিকিৎসা প্রয়োজন হয়।</h5>
              </div>
            </div>
          </div>
          <div class="prevention-tip">
            <div class="row h-100">
              <div class="col-3" style="margin:auto">
                <img src="images/prevention-6.svg" alt="">
              </div>
              <div class="col-9" style="margin:auto">
                <h5>দৈনন্দিন ব্যবহারের বিভিন্ন সরঞ্জামাদি (যেমন মোবাইল ফোন, ল্যাপ্টপ, চশমা, মানিব্যাগ ইত্যাদি) পরিষ্কার এবং জীবাণুমুক্ত করুন।</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="content-alert">
      <div class="row h-100">
        <div class="col-md-3 text-center">
          <img src="images/vaccine.svg" alt="" style="width:75%;height:auto">
        </div>
        <div class="col-md-9">
          <h4>এখনো পর্যন্ত করোনা ভাইরাস সংক্রমণের জন্য কোন নিরাময় বা টিকা আবিষ্কৃত হয় নি। কিছু কিছু পদ্ধতি বিশ্বের বিভিন্ন জায়গায় গবেষণাগারে পরীক্ষা করা হচ্ছে। সংক্রমিত ব্যক্তি দের উপসর্গ নিরাময়ে চিকিৎসা করা হচ্ছে।</h4>
        </div>
      </div>
    </div>

    <footer>
      <p class="m0"><strong>করোনা ইন বাংলাদেশ</strong> একটি স্বেচ্ছাসেবী উদ্যোগ, যার উদ্দেশ্য হচ্ছে করোনা ভাইরাস মহামারির সময়ে বাংলাদেশে একটি সমন্বিত এবং নির্ভরযোগ্য অনলাইন তথ্যভাণ্ডার তৈরী করা।</p>
      <p class="m0"><a href="about.html">আমাদের সম্পর্কে</a> | <a href="privacy-policy.html">তথ্যের গোপনীয়তা</a> | <a href="Contact">যোগাযোগ</a></p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </body>
</html>
