<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- For Facebook -->
    <meta property="og:title" content="Corona in Bangladesh"/>
    <meta property="og:type" content="article"/>
    <meta property="og:image" content="https://coronainbangladesh.com/images/fb_og_image.png"/>
    <meta property="og:url" content="https://coronainbangladesh.com/"/>
    <meta property="og:description"
          content="A voluntary initiative with a mission to build and serve a comprehensive and trustworthy online information hub in the time of coronavirus epidemic in Bangladesh."/>

    <!-- For Google -->
    <meta name="description"
          content="A voluntary initiative with a mission to build and serve a comprehensive and trustworthy online information hub in the time of coronavirus epidemic in Bangladesh."/>
    <meta name="keywords"
          content="coronavirus, corona, covid19, covid-19, bangladesh, epidemic, dhaka, iedcr, quarantine"/>

    <title>Corona in Bangladesh - A comprehensive information hub about the Coronavirus in Bangladesh</title>

    <link rel="shortcut icon" href="../images/favicon.svg" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../css/all.css">

    <script src="https://kit.fontawesome.com/ad532652d6.js" crossorigin="anonymous"></script>
  </head>
  <body class="corona-bg-dark">
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark-corona">
        <a class="navbar-brand" href="/en"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-right" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/en">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/en/corona">What is Coronavirus?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/en/prevention">Preventions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Mythbuster</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Emergencies</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link switch" href="/emergency">বাংলা তে দেখুন</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <section class="content">
      <div class="container">
        <div class="corona-box">
          <div class="corona-title">
            <h2>Emergencies</h2>
          </div>
          <div class="corona-content">
            <p>If you show symptoms, you should communicate with appropriate authorities and seek medical attention. If necessary, you should apply for a coronavirus detection test. The Institute of Epidemiology, Disease Control and Research (IEDCR) handles these cases in Bangladesh. They have set up a number of hotlines that are available 24/7. The hotlines are mentioned here.</p>
            <br>
            <h4>Hotlines</h4>
            <ul>
              <li>+8801937000011</li>
              <li>+8801937110011</li>
              <li>+8801927711784</li>
              <li>+8801927711785</li>
              <li>+8801550064901</li>
              <li>+8801550064902</li>
              <li>+8801550064903</li>
              <li>+8801550064904</li>
            </ul>
            <br>
            <h4>Sample Collection and Test Request</h4>
            <ul>
              <li>+8801944333222</li>
            </ul>
            <br>
            <h4>Sample Collection Form</h4>
            <p><a href="https://www.iedcr.gov.bd/images/PDF/Sample%20%20Collection%20instruction%20and%20req%20form.pdf" target="_blank">Download</a></p>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <p class="m0"><strong>Corona in Bangladesh</strong> is a voluntary initiative with a mission to build and serve a comprehensive and trustworthy online information hub in the time of coronavirus epidemic in Bangladesh.</p>
      <p class="m0"><a href="about.html">About</a> | <a href="privacy-policy.html">Privacy Policy</a> | <a href="Contact">Contact</a></p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </body>
</html>
