<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- For Facebook -->
    <meta property="og:title" content="Corona in Bangladesh"/>
    <meta property="og:type" content="article"/>
    <meta property="og:image" content="https://coronainbangladesh.com/images/fb_og_image.png"/>
    <meta property="og:url" content="https://coronainbangladesh.com/"/>
    <meta property="og:description"
          content="A voluntary initiative with a mission to build and serve a comprehensive and trustworthy online information hub in the time of coronavirus epidemic in Bangladesh."/>

    <!-- For Google -->
    <meta name="description"
          content="A voluntary initiative with a mission to build and serve a comprehensive and trustworthy online information hub in the time of coronavirus epidemic in Bangladesh."/>
    <meta name="keywords"
          content="coronavirus, corona, covid19, covid-19, bangladesh, epidemic, dhaka, iedcr, quarantine"/>

    <title>Corona in Bangladesh - A comprehensive information hub about the Coronavirus in Bangladesh</title>

    <link rel="shortcut icon" href="../images/favicon.svg" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../css/style.css">

    <script src="https://kit.fontawesome.com/ad532652d6.js" crossorigin="anonymous"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110318517-12"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-110318517-12');
    </script>
  </head>
  <body class="corona-bg-dark">
    <header>
      <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark-corona">
        <a class="navbar-brand" href="/en"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-right" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/en">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/en/corona">What is Coronavirus?</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Preventions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/en/mythbuster">Mythbuster</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/en/updates">Updates</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/en/emergency">Emergencies</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/en/contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link switch" href="/prevention">বাংলা তে দেখুন</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="content-extended" style="margin-top:50px">
      <h1 class="text-center">Prevention Tips</h1>

      <br><br><br>

      <div class="row">
        <div class="col-md-6">
          <div class="prevention-tip">
            <div class="row h-100">
              <div class="col-3" style="margin:auto">
                <img src="../images/prevention-1.svg" alt="">
              </div>
              <div class="col-9" style="margin:auto">
                <h5>Avoid close contact with people (handshakes, hugs, kisses).</h5>
              </div>
            </div>
          </div>
          <div class="prevention-tip">
            <div class="row h-100">
              <div class="col-3" style="margin:auto">
                <img src="../images/prevention-2.svg" alt="">
              </div>
              <div class="col-9" style="margin:auto">
                <h5>Avoid touching your face (eyes, nose, mouth)</h5>
              </div>
            </div>
          </div>
          <div class="prevention-tip">
            <div class="row h-100">
              <div class="col-3" style="margin:auto">
                <img src="../images/prevention-3.svg" alt="">
              </div>
              <div class="col-9" style="margin:auto">
                <h5>Cover your cough or sneeze with a tissue, then throw the tissue in the trash. If you don’t have a tissue at hand, use your armpit or elbow region to cover up.</h5>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="prevention-tip">
            <div class="row h-100">
              <div class="col-3" style="margin:auto">
                <img src="../images/prevention-4.svg" alt="">
              </div>
              <div class="col-9" style="margin:auto">
                <h5>Wash your hands often with soap and water for at least 20 seconds. Use hand sanitizer often.</h5>
              </div>
            </div>
          </div>
          <div class="prevention-tip">
            <div class="row h-100">
              <div class="col-3" style="margin:auto">
                <img src="../images/prevention-5.svg" alt="">
              </div>
              <div class="col-9" style="margin:auto">
                <h5>Stay home if you are sick, unless you have to get medical treatment.</h5>
              </div>
            </div>
          </div>
          <div class="prevention-tip">
            <div class="row h-100">
              <div class="col-3" style="margin:auto">
                <img src="../images/prevention-6.svg" alt="">
              </div>
              <div class="col-9" style="margin:auto">
                <h5>Clean and disinfect any objects (mobile phones, laptops, glasses) that you daily use.</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="content-dark">
      <h1 class="text-center">DOs and DON'Ts</h1>

      <div class="dos-donts">
        <div class="row advice">
          <div class="col-md-6">
            <div class="dont">
              <h5><strong>DON'T</strong> hug and shake hands with people.</h5>
            </div>
          </div>
          <div class="col-md-6">
            <div class="do">
              <h5><strong>DO</strong> ensure proper disinfection before making any physical contact if you must.</h5>
            </div>
          </div>
        </div>
        <div class="row advice">
          <div class="col-md-6">
            <div class="dont">
              <h5><strong>DON'T</strong> spend the entire day without washing hands.</h5>
            </div>
          </div>
          <div class="col-md-6">
            <div class="do">
              <h5><strong>DO</strong> wash your hands frequently with soap and water or, use an alcohol-based hand rub. This will remove the virus if it is on your hands.</h5>
            </div>
          </div>
        </div>
        <div class="row advice">
          <div class="col-md-6">
            <div class="dont">
              <h5><strong>DON'T</strong> spend time close to a person who has fever and is coughing or sneezing.</h5>
            </div>
          </div>
          <div class="col-md-6">
            <div class="do">
              <h5><strong>DO</strong> maintain reasonable distance between yourself and someone who is coughing, sneezing (at least 1 meter/3.5 feet apart).</h5>
            </div>
          </div>
        </div>
        <div class="row advice">
          <div class="col-md-6">
            <div class="dont">
              <h5><strong>DON'T</strong> cough or sneeze without any cover in an open environment.</h5>
            </div>
          </div>
          <div class="col-md-6">
            <div class="do">
              <h5><strong>DO</strong> cover your mouth and nose with tissue or a handkerchief when coughing and sneezing. Throw away the used tissue immediately and wash your hands with soap and water or use an alcohol-based hand rub. If neither tissue nor handkerchief is within reach, use your armpit or elbow region to block your cough or sneeze and clean up afterwards.</h5>
            </div>
          </div>
        </div>
        <div class="row advice">
          <div class="col-md-6">
            <div class="dont">
              <h5><strong>DON'T</strong> go to public places, offices and public gatherings despite having flu-like symptoms (fever, cough, sneeze etc).</h5>
            </div>
          </div>
          <div class="col-md-6">
            <div class="do">
              <h5><strong>DO</strong> remain at home to avoid infecting others.</h5>
            </div>
          </div>
        </div>
        <div class="row advice">
          <div class="col-md-6">
            <div class="dont">
              <h5><strong>DON'T</strong> frequently touch your eyes, nose and mouth without cleaning them using soap and water or hand sanitizer.</h5>
            </div>
          </div>
          <div class="col-md-6">
            <div class="do">
              <h5><strong>DO</strong> avoid touching your eyes, nose and mouth. Hands touch many surfaces which can be contaminated with the virus and you can transfer the virus from the surface to yourself.</h5>
            </div>
          </div>
        </div>
        <div class="row advice">
          <div class="col-md-6">
            <div class="dont">
              <h5><strong>DON'T</strong> roam around and go into public exposure without a mask despite having flu-like symptoms.</h5>
            </div>
          </div>
          <div class="col-md-6">
            <div class="do">
              <h5><strong>DO</strong> use face masks to cover the nose and mouth and stay home in a well-ventilated room if you have flu-like symptoms.</h5>
            </div>
          </div>
        </div>
        <div class="row advice">
          <div class="col-md-6">
            <div class="dont">
              <h5><strong>DON'T</strong> self-medicate with antibiotics based on assumptions about symptoms.</h5>
            </div>
          </div>
          <div class="col-md-6">
            <div class="do">
              <h5><strong>DO</strong> seek medical care immediately if you have fever, cough and difficulty in breathing. If possible, call a health worker and alert them about your condition.</h5>
            </div>
          </div>
        </div>
        <div class="row advice">
          <div class="col-md-6">
            <div class="dont">
              <h5><strong>DON'T</strong> spit in public, on roads, sidewalks etc.</h5>
            </div>
          </div>
          <div class="col-md-6">
            <div class="do">
              <h5><strong>DO</strong> spit into a basin, sink, toilet, drain or some other inlet into the sewage system.</h5>
            </div>
          </div>
        </div>
        <div class="row advice">
          <div class="col-md-6">
            <div class="dont">
              <h5><strong>DON'T</strong> use frequently used surfaces and objects as we do during normal times, without cleaning them regularly.</h5>
            </div>
          </div>
          <div class="col-md-6">
            <div class="do">
              <h5><strong>DO</strong> clean and disinfect frequently touched surfaces such as doorknobs/handles, car doors, elevator buttons etc. daily with regular household disinfectant or soap and water.</h5>
            </div>
          </div>
        </div>
        <div class="row advice">
          <div class="col-md-6">
            <div class="dont">
              <h5><strong>DON'T</strong> ignore all guidelines or home quarantine instructions given by health officials after traveling to some place from a corona affected region.</h5>
            </div>
          </div>
          <div class="col-md-6">
            <div class="do">
              <h5><strong>DO</strong> follow guidance given by health workers at the airport and other border entry points when traveling from a corona affected country or region.</h5>
            </div>
          </div>
        </div>
      </div>

      <p class="text-right"><a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public" target="_blank">[source]</a></p>
    </div>

    <footer>
      <p class="m0"><strong>Corona in Bangladesh</strong> is a voluntary initiative with a mission to build and serve a comprehensive and trustworthy online information hub in the time of coronavirus epidemic in Bangladesh.</p>
      <p class="m0"><a href="/about">About</a> | <a href="/privacy-policy">Privacy Policy</a> | <a href="/contact">Contact</a></p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </body>
</html>
