<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- For Facebook -->
    <meta property="og:title" content="Corona in Bangladesh"/>
    <meta property="og:type" content="article"/>
    <meta property="og:image" content="https://coronainbangladesh.com/images/fb_og_image.png"/>
    <meta property="og:url" content="https://coronainbangladesh.com/"/>
    <meta property="og:description"
          content="একটি স্বেচ্ছাসেবী উদ্যোগ, যার উদ্দেশ্য হচ্ছে করোনা ভাইরাস মহামারির সময়ে বাংলাদেশে একটি সমন্বিত এবং নির্ভরযোগ্য অনলাইন তথ্যভাণ্ডার তৈরী করা।"/>

    <!-- For Google -->
    <meta name="description"
          content="একটি স্বেচ্ছাসেবী উদ্যোগ, যার উদ্দেশ্য হচ্ছে করোনা ভাইরাস মহামারির সময়ে বাংলাদেশে একটি সমন্বিত এবং নির্ভরযোগ্য অনলাইন তথ্যভাণ্ডার তৈরী করা"/>
    <meta name="keywords"
          content="coronavirus, corona, covid19, covid-19, bangladesh, epidemic, dhaka, iedcr, quarantine"/>

    <title>Corona in Bangladesh - বাংলাদেশে করোনা ভাইরাস সম্পর্কিত যাবতীয় সকল তথ্যের একটি অনলাইন তথ্যভান্ডার</title>

    <link rel="shortcut icon" href="images/favicon.svg" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/style.css">

    <script src="https://kit.fontawesome.com/ad532652d6.js" crossorigin="anonymous"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110318517-12"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-110318517-12');
    </script>
  </head>
  <body class="corona-bg-dark">
    <header>
      <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark-corona">
        <a class="navbar-brand" href="/"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-right" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">হোম <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/corona">করোনাভাইরাস কি?</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">প্রতিরোধে করণীয়</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/mythbuster">সত্য নাকি মিথ্যা?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/updates">আপডেট</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/emergency">জরুরি যোগাযোগ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">যোগাযোগ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link switch" href="/en/prevention">Switch to English</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="content-extended" style="margin-top:50px">
      <h1 class="text-center">সংক্রমণ প্রতিরোধে করণীয়</h1>

      <br><br><br>

      <div class="row">
        <div class="col-md-6">
          <div class="prevention-tip">
            <div class="row h-100">
              <div class="col-3" style="margin:auto">
                <img src="images/prevention-1.svg" alt="">
              </div>
              <div class="col-9" style="margin:auto">
                <h5>মানুষের সাথে ঘনিষ্ঠতা পরিহার করুন (করমর্দন বা হ্যান্ডশেইক, আলিঙ্গন বা কোলাকুলি করা, চুম্বন ইত্যাদি)।</h5>
              </div>
            </div>
          </div>
          <div class="prevention-tip">
            <div class="row h-100">
              <div class="col-3" style="margin:auto">
                <img src="images/prevention-2.svg" alt="">
              </div>
              <div class="col-9" style="margin:auto">
                <h5>মুখের যেকোন অংশে (চোখ, নাক, ঠোঁট ইত্যাদি) হাত দেয়া থেকে বিরত থাকুন।</h5>
              </div>
            </div>
          </div>
          <div class="prevention-tip">
            <div class="row h-100">
              <div class="col-3" style="margin:auto">
                <img src="images/prevention-3.svg" alt="">
              </div>
              <div class="col-9" style="margin:auto">
                <h5>হাঁচি বা কাশি দেয়ার সময় টিস্যু দিয়ে মুখ ঢেকে নিন, তারপর টিস্যুটি ফেলে দিন। হাতের নাগালে টিস্যু না থাকলে বগল বা কনুই ব্যবহার করে মুখ ঢেকে নিন।</h5>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="prevention-tip">
            <div class="row h-100">
              <div class="col-3" style="margin:auto">
                <img src="images/prevention-4.svg" alt="">
              </div>
              <div class="col-9" style="margin:auto">
                <h5>অহরহ হাত ধোয়ার অভ্যাস করুন। সাবান এবং পানি দিয়ে অন্তত ২০ সেকেন্ড সময় নিয়ে হাত ধোয়া উচিত। সাবান এবং পানি হাতের কাছে না থাকলে হ্যান্ড স্যানিটাইজার ব্যবহার করুন।</h5>
              </div>
            </div>
          </div>
          <div class="prevention-tip">
            <div class="row h-100">
              <div class="col-3" style="margin:auto">
                <img src="images/prevention-5.svg" alt="">
              </div>
              <div class="col-9" style="margin:auto">
                <h5>অসুস্থ হলে বাসায় থাকুন, যদি না আপনার চিকিৎসা প্রয়োজন হয়।</h5>
              </div>
            </div>
          </div>
          <div class="prevention-tip">
            <div class="row h-100">
              <div class="col-3" style="margin:auto">
                <img src="images/prevention-6.svg" alt="">
              </div>
              <div class="col-9" style="margin:auto">
                <h5>দৈনন্দিন ব্যবহারের বিভিন্ন সরঞ্জামাদি (যেমন মোবাইল ফোন, ল্যাপ্টপ, চশমা, মানিব্যাগ ইত্যাদি) পরিষ্কার এবং জীবাণুমুক্ত করুন।</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="content-dark">
      <h1 class="text-center">কি করবো না এবং কি করবো</h1>

      <div class="dos-donts">
        <div class="row advice">
          <div class="col-md-6">
            <div class="dont">
              <h5><strong>করবো নাঃ</strong> করমর্দন বা হাত মিলানো এবং কোলাকুলি করা বা জড়িয়ে ধরা।</h5>
            </div>
          </div>
          <div class="col-md-6">
            <div class="do">
              <h5><strong>করবোঃ</strong> করমর্দন বা হাত মিলানো, কোলাকুলি করা বা জড়িয়ে ধরা থেকে শুরু করে সব ধরণের শারীরিক সংযোগ পরিহার করবো। যদি একান্তই বাধ্য হই, তাহলে অবশ্যই পরিষ্কার পরিচ্ছনতা নিশ্চিত করবো।</h5>
            </div>
          </div>
        </div>
        <div class="row advice">
          <div class="col-md-6">
            <div class="dont">
              <h5><strong>করবো নাঃ</strong> হাত, মুখ না ধুয়ে পুরো দিন কাটিয়ে দেয়া।</h5>
            </div>
          </div>
          <div class="col-md-6">
            <div class="do">
              <h5><strong>করবোঃ</strong> ঘন ঘন সাবান এবং পানি দিয়ে হাত ধুবো। হাতের নাগালে সাবান-পানি না থাকলে এলকোহল-ভিত্তিক হ্যান্ড রাব বা স্যানিটাইজার ব্যবহার করবো।</h5>
            </div>
          </div>
        </div>
        <div class="row advice">
          <div class="col-md-6">
            <div class="dont">
              <h5><strong>করবো নাঃ</strong> জ্বর, হাঁচি, কাশি এবং এধরণের উপসর্গ রয়েছে এমন কারো সাথে ঘনিষ্ঠ হওয়া।</h5>
            </div>
          </div>
          <div class="col-md-6">
            <div class="do">
              <h5><strong>করবোঃ</strong> হাঁচি, কাশি দিচ্ছে এমন ব্যক্তির সাথে যথেষ্ট দূরত্ব বজায় রাখবো (অন্তত ১ মিটার বা ৩.৫ ফিট)</h5>
            </div>
          </div>
        </div>
        <div class="row advice">
          <div class="col-md-6">
            <div class="dont">
              <h5><strong>করবো নাঃ</strong> খোলা পরিবেশে কোনো আবরণ ছাড়া হাঁচি, কাশি দেয়া।</h5>
            </div>
          </div>
          <div class="col-md-6">
            <div class="do">
              <h5><strong>করবোঃ</strong> হাঁচি এবং কাশি দেয়ার সময় টিস্যু বা রুমাল দিয়ে মুখ ঢেকে নিবো। ব্যবহারের পর টিস্যু ফেলে দিবো এবং সাবান ও পানি দিয়ে হাত ধুব অথবা এলকোহল-ভিত্তিক হ্যান্ড রাব বা স্যানিটাইজার ব্যবহার করবো। প্রতিদিন রুমালটি নিজ হাতে ধুবো এবং ইস্ত্রি করবো। টিস্যু বা রুমাল কোনটিই না থাকলে বগল কিংবা কনুইয়ের অংশ দিয়ে মুখ ঢেকে হাঁচি বা কাশি দিবো। এভাবে নিজের সম্ভাব্য সংক্রমণ অন্যদের মাঝে ছড়ানো থেকে বিরত থাকবো।</h5>
            </div>
          </div>
        </div>
        <div class="row advice">
          <div class="col-md-6">
            <div class="dont">
              <h5><strong>করবো নাঃ</strong> জ্বর, হাঁচি, কাশি থাকা অবস্থায় অফিসে যাওয়া, জন সমাগম আছে এমন কোথাও যাওয়া।</h5>
            </div>
          </div>
          <div class="col-md-6">
            <div class="do">
              <h5><strong>করবোঃ</strong> জ্বর, হাঁচি, কাশি থাকলে জন সমাগমে, অফিসে এবং অন্য যেসকল জায়গায় অন্য মানুষের সংস্পর্শে আসার সম্ভাবনা রয়েছে, সেসব জায়গায় যাবো না। বাসায় থেকে সামাজিক বিছিন্নতা বজায় রাখবো।</h5>
            </div>
          </div>
        </div>
        <div class="row advice">
          <div class="col-md-6">
            <div class="dont">
              <h5><strong>করবো নাঃ</strong> ঘন ঘন চোখে, নাকে এবং মুখে হাত দেয়া বা হাত পরিষ্কার না করেই এসব অংশে হাত দেয়া।</h5>
            </div>
          </div>
          <div class="col-md-6">
            <div class="do">
              <h5><strong>করবোঃ</strong> চোখে, নাকে বা মুখে হাত দেয়া থেকে বিরত থাকবো। সারাদিন আমরা এমন অনেক জায়গায় হাত দেই যেখানে করোনা ভাইরাস ছড়িয়ে থাকতে পারে। তাই একান্তই চোখে, নাকে বা মুখে হাত দিতে হলে অবশ্যই হাত পরিষ্কার করে নিবো।</h5>
            </div>
          </div>
        </div>
        <div class="row advice">
          <div class="col-md-6">
            <div class="dont">
              <h5><strong>করবো নাঃ</strong> করোনার উপসর্গ (যেমন জ্বর, হাঁচি, কাশি) থাকা সত্ত্বেও ঘুরাঘুরি করা এবং মাস্ক ছাড়া অন্য মানুষের কাছাকাছি যাওয়া।</h5>
            </div>
          </div>
          <div class="col-md-6">
            <div class="do">
              <h5><strong>করবোঃ</strong> জ্বর, হাঁচি, কাশি জাতীয় উপসর্গ থাকলে অবশ্যই মাস্ক পরবো এবং আলো-বাতাসের যথেষ্ট চলাচল আছে এরকম একটি কক্ষে বিচ্ছিন্ন রাখবো নিজেকে।</h5>
            </div>
          </div>
        </div>
        <div class="row advice">
          <div class="col-md-6">
            <div class="dont">
              <h5><strong>করবো নাঃ</strong> উপসর্গ দেখে অনুমানের উপর ভিত্তি করে নিজে নিজে ঔষধ সেবন করা (যেমন এন্টিবায়োটিক)</h5>
            </div>
          </div>
          <div class="col-md-6">
            <div class="do">
              <h5><strong>করবোঃ</strong> যদি জ্বর, হাঁচি, কাশি কিংবা নিঃশ্বাসে দুর্বলতা থাকে তাহলে যতদ্রুত সম্ভব চিকিৎসা নিবো। যদি হাসপাতালে যাওয়া সম্ভব না হয়, অবশ্যই একজন স্বাস্থ্য কর্মী, স্বাস্থ্য বিশেষজ্ঞ বা চিকিৎসককে ফোন দিয়ে পরামর্শ নিবো।</h5>
            </div>
          </div>
        </div>
        <div class="row advice">
          <div class="col-md-6">
            <div class="dont">
              <h5><strong>করবো নাঃ</strong> রাস্তা, ফুটপাথ কিংবা যেখানে সেখানে অযাচিতভাবে থুথু ফেলা।</h5>
            </div>
          </div>
          <div class="col-md-6">
            <div class="do">
              <h5><strong>করবোঃ</strong> বেসিন, টয়লেট, ড্রেন কিংবা এধরণের কোন স্থানে থুথু ফেলবো যাতে তা অন্য কারো সংস্পর্শে না আসে।</h5>
            </div>
          </div>
        </div>
        <div class="row advice">
          <div class="col-md-6">
            <div class="dont">
              <h5><strong>করবো নাঃ</strong> দৈনন্দিন ব্যবহারের নানা পৃষ্ঠতল এবং সরঞ্জাম পরিষ্কার না করে, স্বাভাবিক সময়ে যেভাবে ব্যবহার করা হয়, সেভাবে ব্যবহার করতে থাকা।</h5>
            </div>
          </div>
          <div class="col-md-6">
            <div class="do">
              <h5><strong>করবোঃ</strong> দরজার ছিটকিনি ও হাতল, গাড়ির দরজার হাতল, লিফটের বোতাম, ফোন, চশমা, মানিব্যাগ ইত্যাদি প্রতিদিন সাবান-পানি কিংবা জীবাণুনাশক পদার্থ দিয়ে পরিষ্কার করবো।</h5>
            </div>
          </div>
        </div>
        <div class="row advice">
          <div class="col-md-6">
            <div class="dont">
              <h5><strong>করবো নাঃ</strong> করোনা জর্জরিত কোন দেশ বা অঞ্চল থেকে যাত্রা করে আসার পর স্বাস্থ্য বিশেষজ্ঞ এবং কর্মকর্তাদের দেয়া বিধি-নিষেধ অমান্য করে যেভাবে খুশি চলা।</h5>
            </div>
          </div>
          <div class="col-md-6">
            <div class="do">
              <h5><strong>করবোঃ</strong> বিমানবন্দর কিংবা দেশের বিভিন্ন বর্ডার দিয়ে ঢুকার সময় স্বাস্থ্য বিশেষজ্ঞ এবং কর্মকর্তাদের দেয়া সকল বিধি-নিষেধ এবং পরামর্শ মেনে চলবো।</h5>
            </div>
          </div>
        </div>
      </div>

      <p class="text-right"><a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public" target="_blank">[তথ্যসূত্র]</a></p>
    </div>

    <footer>
      <p class="m0"><strong>করোনা ইন বাংলাদেশ</strong> একটি স্বেচ্ছাসেবী উদ্যোগ, যার উদ্দেশ্য হচ্ছে করোনা ভাইরাস মহামারির সময়ে বাংলাদেশে একটি সমন্বিত এবং নির্ভরযোগ্য অনলাইন তথ্যভাণ্ডার তৈরী করা।</p>
      <p class="m0"><a href="/about">আমাদের সম্পর্কে</a> | <a href="/privacy-policy">তথ্যের গোপনীয়তা</a> | <a href="/contact">যোগাযোগ</a></p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </body>
</html>
